{% extends 'RK_mission/index.html' %}
{% block content %}
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/tinymce.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/tinymce/4.5.6/jquery.tinymce.min.js"></script>
</head>
<div class="container-fluid content1 ">
	<form action='/addpost/' method='post' enctype="multipart/form-data">
		{% csrf_token %}
		<h2 class="mon">ADD POST</h2>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="col-md-6 colsm-6 col-xs-12 desg">
				{{a_form.Date_of_Birth}}
				{{a_form.Place_Of_Birth}}	
			</div>
			<div class="col-md-6 colsm-6 col-xs-12">
				{{a_form.Parents}}
				{{a_form.Wife}}
			</div>
			<div class="col-md-6 colsm-6 col-xs-12">
				{{a_form.Philosopy}}
				{{a_form.Religious_Views}}
			</div>
			<div class="col-md-6 colsm-6 col-xs-12">
				{{a_form.Place_Of_Death}}
				{{a_form.Memorial}}
			</div>
			<div class="col-md-6 colsm-6 col-xs-12">
				{{a_form.excerpt}}
				{{a_form.title}}
			</div>
			<div class="col-md-6 colsm-6 col-xs-12">
				{{a_form.project_image1}}
				{{a_form.slug}}
			</div>
			<div class="col-md-6 colsm-6 col-xs-12">
				{{a_form.meta_description}}
			</div>
			<div class="col-md-6 colsm-6 col-xs-12">
				{{a_form.keywords}}
			</div>
			</div>
			<div class="col-md-6 colsm-6 col-xs-12">
				{{a_form.}}
			</div>
			<div class="col-md-6 colsm-6 col-xs-12">
				{{a_form.Education}}
				{{a_form.Spouse}}
			</div>
			<div class="col-md-6 colsm-6 col-xs-12">
				{{a_form.Guru}}
				{{a_form.Death}}
			</div>
			<div class="col-md-6 colsm-6 col-xs-12">
				{{a_form.content}}
			</div>
		
	 	<button class="btn btn-info but" role="button" type="submit">save</button>
	</form>
</div>
{% endblock %}