{% extends "RK_mission/index.html" %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid content1">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="col-md-1 col-sm-1 col-xs-12"></div>
		<div class="col-md-7 col-sm-7 col-xs-12 re">
			{% if page_careers.slug == 'careers' %}
				<h4 class="de">{{page_careers.title}}</h4>
				{{page_careers.content|safe}}
			{% endif %}
			<div class="accordion-container">
			  	<div class="set">
				    <a href="#">
		              	Trainer – Physical Education				              
				      <i class="fa fa-plus"></i>
				    </a>
				    <div class="content">
				      <table class="acc_table table table-striped">
						<tbody>
						<tr>
						<td>Job Title</td>
						<td>Faculty / Sr. Faculty</td>
						</tr>
						<tr>
						<td>Location</td>
						<td>Chennai / Bangalore / Hyderabad / Kerala</td>
						</tr>
						<tr>
						<td>Experience</td>
						<td>A minimum of 0-5 years of experience teaching experience ( or ) Industrial Experience<br>
						         Having Experience has Web Design / UI &amp; UX</td>
						</tr>
						<tr>
						<td>Skills  and Specifications</td>
						<td>Familiarity with illustrator, Photoshop, HTML, CSS, JavaScript, Dreamweaver, Flash, Jquery preffered.<br>Having good communication in English<br> Interested candidates can mail their resumes along with their blog link / portfolio link</td>
						</tr>
						<tr>
						<td>Qualification</td>
						<td>Any Bachelor Degree (or) Masters Degree required</td>
						</tr>
						</tbody>
						</table>
				    </div>
			  	</div>
			 	 <br>
			  	<div class="set">
				    <a href="#">
					    Hostel Warden (Male or Female)				              
				      <i class="fa fa-plus"></i>
				    </a>
				    <div class="content">
				     <table class="acc_table table table-striped">
						<tbody>
						<tr>
						<td>Job Title</td>
						<td>Faculty / Sr. Faculty</td>
						</tr>
						<tr>
						<td>Location</td>
						<td>Chennai / Bangalore / Hyderabad / Kerala</td>
						</tr>
						<tr>
						<td>Experience</td>
						<td>A minimum of 0-5 years of experience teaching experience ( or ) Industrial Experience<br>
						         Having Experience has Web Design / UI &amp; UX</td>
						</tr>
						<tr>
						<td>Skills  and Specifications</td>
						<td>Familiarity with illustrator, Photoshop, HTML, CSS, JavaScript, Dreamweaver, Flash, Jquery preffered.<br>Having good communication in English<br> Interested candidates can mail their resumes along with their blog link / portfolio link</td>
						</tr>
						<tr>
						<td>Qualification</td>
						<td>Any Bachelor Degree (or) Masters Degree required</td>
						</tr>
						</tbody>
						</table>
				    </div>
			 	</div>
			 	<br>
				<div class="set">
				    <a href="#">
				      
					Faculty / Sr.Faculty – English:				              
				      <i class="fa fa-plus"></i>
				    </a>
				    <div class="content">
				      <table class="acc_table table table-striped">
							<tbody>
							<tr>
							<td>Job Title</td>
							<td>Faculty / Sr. Faculty</td>
							</tr>
							<tr>
							<td>Location</td>
							<td>Chennai / Bangalore / Hyderabad / Kerala</td>
							</tr>
							<tr>
							<td>Experience</td>
							<td>A minimum of 0-5 years of experience teaching experience ( or ) Industrial Experience<br>
							         Having Experience has Web Design / UI &amp; UX</td>
							</tr>
							<tr>
							<td>Skills  and Specifications</td>
							<td>Familiarity with illustrator, Photoshop, HTML, CSS, JavaScript, Dreamweaver, Flash, Jquery preffered.<br>Having good communication in English<br> Interested candidates can mail their resumes along with their blog link / portfolio link</td>
							</tr>
							<tr>
							<td>Qualification</td>
							<td>Any Bachelor Degree (or) Masters Degree required</td>
							</tr>
							</tbody>
							</table>
				    </div>
				</div>
			 	<br>
				<div class="set">
				    <a href="#">
				     
					              Faculty – Mathematics:				              
				      <i class="fa fa-plus"></i> 
				    </a>
				    <div class="content">
				     <table class="acc_table table table-stripe">
						<tbody>
						<tr>
						<td>Job Title</td>
						<td>Faculty / Sr. Faculty</td>
						</tr>
						<tr>
						<td>Location</td>
						<td>Chennai / Bangalore / Hyderabad / Kerala</td>
						</tr>
						<tr>
						<td>Experience</td>
						<td>A minimum of 0-5 years of experience teaching experience ( or ) Industrial Experience<br>
						         Having Experience has Web Design / UI &amp; UX</td>
						</tr>
						<tr>
						<td>Skills  and Specifications</td>
						<td>Familiarity with illustrator, Photoshop, HTML, CSS, JavaScript, Dreamweaver, Flash, Jquery preffered.<br>Having good communication in English<br> Interested candidates can mail their resumes along with their blog link / portfolio link</td>
						</tr>
						<tr>
						<td>Qualification</td>
						<td>Any Bachelor Degree (or) Masters Degree required</td>
						</tr>
						</tbody>
						</table>
				    </div>
				</div>
				  <br>
			  	<div class="set">
				    <a href="#">
					              Chief Cook
					<i class="fa fa-plus"></i> 
				    </a>
				    <div class="content">
				     <table class="acc_table table table-stripe">
							<tbody>
							<tr>
							<td>Job Title</td>
							<td>Faculty / Sr. Faculty</td>
							</tr>
							<tr>
							<td>Location</td>
							<td>Chennai / Bangalore / Hyderabad / Kerala</td>
							</tr>
							<tr>
							<td>Experience</td>
							<td>A minimum of 0-5 years of experience teaching experience ( or ) Industrial Experience<br>
							         Having Experience has Web Design / UI &amp; UX</td>
							</tr>
							<tr>
							<td>Skills  and Specifications</td>
							<td>Familiarity with illustrator, Photoshop, HTML, CSS, JavaScript, Dreamweaver, Flash, Jquery preffered.<br>Having good communication in English<br> Interested candidates can mail their resumes along with their blog link / portfolio link</td>
							</tr>
							<tr>
							<td>Qualification</td>
							<td>Any Bachelor Degree (or) Masters Degree required</td>
							</tr>
							</tbody>
							</table>	
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-12 n">
			<h4 class="de ">Quick links</h4>
			<p class="quick n"><a href="/about/Our-Vidyalaya/" class="n ">Our Vidyalaya</a></p>
			<p class="quick"><a href="/about/Our-Vision/" class="n" >Moto</a></p>
			<p class="quick"><a href="/about/Genesis/" class="n">Genesis</a></p>
			<p class="quick"><a href="/fees/daily-routine/" class="n">Dialy Routine</a></p>
			<p class="quick">Ramakrishna Mission</p>
			<p class="quick1"><a href="/about/movement/" class="n">Movements</a></p>
			<p class="quick1"><a href="/about/quarters/" class="n">Head Quarters</a></p>
			<p class="quick1"><a href="/about/center-india/" class="n">Centers In India</a></p>
			<p class="quick1"><a href="/about/center-out/" class="n">Centers Outside India</a></p>
			<p class="quick"><a href="/about/News-Archives/" class="n">News & Archives</a></p>
			<p class="quick"><a href="/fees/annual-fees-charges/" class="n">Annual Fees & Charges</a></p>

			<h3 style="margin-left: -1%;color: rgb(68, 63, 63);"><b>Inquiry Form</b></h3>	

			<div class="inquiry_form_desgn">
				<form action="" method="">
					<input class="form-control" name="first_name" type="text" placeholder="Enter Your First Name*">
					<br>
					<input class="form-control" name="last_name" type="text" placeholder="Enter Your last Name*">
					<br>
					<input class="form-control" name="email_name" type="text" placeholder="Enter Your email Name*">
					<br>
					<input class="form-control" name="mobile number" type="text" placeholder="Enter Your mobile number Name*">
					<br>
					<select class="form-control">
						<option>Select Preffered Programee*</option>
						<option>Class I</option>
						<option>Class II</option>
						<option>Class III</option>
						<option>Class IV</option>
						<option>Class V</option>
						<option>Class VI</option>
						<option>Class VIII</option>
					</select>
					<button class="subv a1">SUBMIT</button>
				</form><br/>
				<p>Note: WE’LL REVERT BACK TO YOU SOON.</p>
			</div>
		</div>
	</div>
</div>
				
<script type="text/javascript">
	$(document).ready(function() {
  $(".set > a").on("click", function() {
    if ($(this).hasClass("active")) {
      $(this).removeClass("active");
      $(this)
        .siblings(".content")
        .slideUp(200);
      $(".set > a i")
        .removeClass("fa-minus")
        .addClass("fa-plus");
    } else {
      $(".set > a i")
        .removeClass("fa-minus")
        .addClass("fa-plus");
      $(this)
        .find("i")
        .removeClass("fa-plus")
        .addClass("fa-minus");
      $(".set > a").removeClass("active");
      $(this).addClass("active");
      $(".content").slideUp(200);
      $(this)
        .siblings(".content")
        .slideDown(200);
    }
  });
});

</script>
	{% endblock %}
